<h1>Partner Menu</h1>

<ul>
  <li><a href="/home" >Main Menu</a></li>
  <li><a href="/list_partners" >List of all the Partner</a></li>
  <li><a href="/add_partner" >Add a Partner</a></li>
  <li><a href="/change_partner" >Change a Partner</a></li>
  <li><a href="/delete_partner">Delete a Partner</a></li>
</ul>