<h1> Welcome to Otakujinrui, UNL Anime Club. Welcome Admin what do you need?</h1>

<ul>
  <li><a href="#" >Adjust the Member Database</a></li>
  <li><a href="/anime_series_menu">Adjust the Anime Series Database</a></li>
  <li><a href="/format_type_menu">Adjust the Format Type Database</a></li>
  <li><a href="/media_menu">Adjust the Media Database</a></li>
  <li><a href="/media_member_menu">Adjust the Media Member Database</a></li>
</ul>