<h1>Link Menu</h1>

<ul>
  <li><a href="/home" >Main Menu</a></li>
  <li><a href="/list_links" >List of all the Links</a></li>
  <li><a href="/add_link" >Add a Link</a></li>
  <li><a href="/change_link" >Change a Link</a></li>
  <li><a href="/delete_link">Delete a Link</a></li>
</ul>