<h1>The list of Link</h1>

<ul>
  <% Link.all.each do |list| %>
  <p><li><%= "#{list.id} - #{list.assignment_id} - #{list.article} - #{list.video}"%></li>
  </p>
  <% end %>
</ul>
  
<a href="/link_menu">Back</a>