<h1> Adding a Assignment </h1>

<form action= "/save_assignment">
  
  Name of the Assignment<br>
  <input type "text" placeholder="" name="name"><br>
  
  What is the description of the Assignment?<br>
  <input type "text" placeholder="" name="description"><br><br>
  
  What is the github link for the Assignment?<br>
  <input type "text" placeholder="" name="github_link"><br><br>
  
  <input type= "submit">
</form>

<a href="/assignment_menu">Back</a>