<h1>Assignment Menu</h1>

<ul>
  <li><a href="/home" >Main Menu</a></li>
  <li><a href="/list_assignments" >List of all the Assignments</a></li>
  <li><a href="/add_assignment" >Add a Assignment</a></li>
  <li><a href="/change_assignment" >Change a Assignment</a></li>
  <li><a href="/delete_assignment">Delete a Assignment</a></li>
</ul>