<h1> Click on the Assignment you want to change </h1>

<ul>
  <% Assignment.all.each do |list| %>
  <li><a href="/change_assignment_form/<%= list.id %>">Name: <%=list.name%> Description <%=list.description%></a></li>
  <% end %>
</ul>
<a href="/assignment_menu">Back</a>